/ConverterTipos/nbproject/private/
/EntradaeSaidaDeDados/build/
/EntradaeSaidaDeDados/nbproject/private/
/ConverterTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/CalculadoraSwing/nbproject/private/
/CalculadoraSwing/build/
/CalculadoraSwing/dist/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/build/
/SuperCalculadora/dist/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/ComparacaoString/nbproject/private/
/ComparacaoString/build/
/respeticaoForWhile/nbproject/private/
/respeticaoForWhile/build/
/teste/nbproject/private/
/teste/build/
/Aula 02 poo/nbproject/private/
/Aula 02 poo/build/
/Aula3 Poo/nbproject/private/
/Aula 03 Poo/build/