/ConverterTipos/nbproject/private/
/EntradaeSaidaDeDados/build/
/EntradaeSaidaDeDados/nbproject/private/
/ConverterTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/CalculadoraSwing/nbproject/private/
/CalculadoraSwing/build/
/CalculadoraSwing/dist/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/build/
/SuperCalculadora/dist/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/ComparacaoString/nbproject/private/
/ComparacaoString/build/
/respeticaoForWhile/nbproject/private/
/respeticaoForWhile/build/
/teste/nbproject/private/
/teste/build/
/Aula 02 poo/nbproject/private/
/Aula 02 poo/build/
/Aula3 Poo/nbproject/private/
/Aula 03 Poo/build/
/GTEJava/nbproject/private/
/GteJava/nbproject/private/
/SuperCalculadoraSwing/nbproject/private/
/JavaFX/OlaMundoJavaFX/build/
/JavaFX/OlaMundoJavaFX/dist/
/JavaFX/OlaMundoJavaFX/nbproject/private/
/Poo-info2-ifma/java8-ensino-didatico-cap/target/
/Poo-info2-ifma/teste/target/
/.metadata/
/Poo-info2-ifma/exercicio2-java8-ed/nbproject/private/
/Poo-info2-ifma/exercicio2-java8-ed/build/
/Poo-info2-ifma/java8-ensino-didatico-exer/exercicio2-java8-ed/nbproject/private/
/Poo-info2-ifma/java8-ensino-didatico-exer/exercicio3-java8-ed/nbproject/private/
/Poo-info2-ifma/java8-ensino-didatico-exer/exercicio3-java8-ed/build/
/Poo-info2-ifma/ifma-exercicio3-info2/nbproject/private/
/Poo-info2-ifma/ifma-exercicio3-info2/target/
/Poo-info2-ifma/exercicio11-swing/target/
/Poo-info2-ifma/QuestionarioSwing-ativ2/target/
/Poo-info2-ifma/Exeercico13-Swing/target/
/Poo-info2-ifma/JavaBd-Jdbc/target/
/Poo-info2-ifma/Exercicio14-jdbc/target/
/Poo-info2-ifma/Exercicio14-Parte1-Caelum/target/
/Poo-info2-ifma/Exercicio14-Parte2-K19/nbproject/private/
/Poo-info2-ifma/Exercicio14-Parte2-K19/build/
