/ConverterTipos/nbproject/private/
/EntradaeSaidaDeDados/build/
/EntradaeSaidaDeDados/nbproject/private/
/ConverterTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/CalculadoraSwing/nbproject/private/
/CalculadoraSwing/build/
/CalculadoraSwing/dist/